# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: none
CMakeLists.txt.user
GCompris.pro.user
.directory
*.aac
*.qrc
*.qmlc
*.jsc
*.bak
*~
build/*
*.DS_Store
src/activities/activities_out.txt
.kdev4/
*.kdev4
*autosave
.gstack/
# WASM PWA: most of share/ is embedded in gcompris-qt.data (MEMFS preload).
# Keep data3 visible because non-default voice packs are lazy-loaded as
# same-origin files.
pwa/share/
!pwa/share/
!pwa/share/gcompris-qt/
pwa/share/gcompris-qt/*
!pwa/share/gcompris-qt/rcc/
pwa/share/gcompris-qt/rcc/*
!pwa/share/gcompris-qt/rcc/data3/
!pwa/share/gcompris-qt/rcc/data3/**
